extends includes/layout.pug

block content
  include ./includes/mixins/lastars-article-list.pug
  #archive
    .lastars-archive-intro
      p / 你必须准备好沐浴在你自身的烈焰中
      p / 你怎么可能重生呢
      p / 如果你不先化为灰烬
    +lastarsArticleList(page.posts)
    include includes/pagination.pug
