extends includes/layout.pug

block content
  -
    page.aside = false
    const posts = page.posts && page.posts.data ? page.posts.data : []
  include ./includes/mixins/lastars-article-list.pug
  #lastars-home
    section.lastars-post-list.lastars-post-list--root
      if posts.length
        +lastarsArticleList(posts)
      else
        .lastars-empty
          h3 还没有文章
          p 最新发布的内容会在这里直接更新。
