extends includes/layout.pug

block content
  if theme.tag_ui == 'index'
    include ./includes/mixins/indexPostUI.pug
    +indexPostUI
  else
    include ./includes/mixins/lastars-article-list.pug
    #tag
      .article-sort-title= _p('page.tag') + ' - ' + page.tag
      +lastarsArticleList(page.posts)
      include includes/pagination.pug
